:root {
    --azul: #0071b7;
    --blanco: #FFF;
    --naranja: #ff4f1e;
}
html {
    font-size: 62.5%; /** 1REM = 10pX **/
}

body {
    background-color: var(--azul);
    font-family:  'Lato', sans-serif;
    font-size: 1.6rem;
}

.caja-curso {
    background-color: var(--naranja);
    text-align: center;
    color: var(--blanco);
    padding: 5rem;

}
.caja-curso h1 {
    margin: 0;
}
.caja-curso p {
    font-size: 2.4rem;
}
.caja-curso a {
    font-size: 2.4rem;
    padding: 2rem;
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
    padding: 0;
}


h1, h2 {
    color: var(--blanco);
    text-align: center;
    margin: 5rem 0;
}

/* Centra el contenedor */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.box {
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}

/* 1 */

.grid-1{
    display: grid;
}

/* 2 */

.grid-2{
    display: grid;
    /* Difinicion de columnas */
    grid-template-columns: repeat(3, 300px);
}
.grid-2 .box:nth-child(2){
    /* Desde que columna inicio y en cual finalizo */
    /* grid-column-start: 1;
    grid-column-end: 2; */

    /* Forma Simplificada parametro start / end */
    grid-column: 1 / 2;

}

/* 3 */

.grid-3 {
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(3, 400px);
}

.grid-3 .box:nth-child(2){
    /* Vaz a ponerlo desde el 1 al 2 */
    /* grid-row-start: 1;
    grid-row-end: 2; */

    /* Forma abreviada de configurar la accion 1 al 2*/
    grid-row: 1 / 2;

}

/* 4 */

.grid-4{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 400px);
}

.grid-4 .box:nth-child(2){
    /* POsicionar un div despues de su lugar */
    /* grid-column-start: 3;
    grid-column-end: 4; */

    /* forma abreviada */
    /* grid-column: 3 / 4; */

    /*  */
    background-color: cornflowerblue;
    /* De la 2 hasta el lugar 4 del grid */
    /* grid-column: 2 / 4; */
    /* Con estandar seria asi donde dices que extienda do */
    
    grid-column: 2 / span 2; 

    /* De la posicion en fila 1 hasya la posicion 3 */
    /* grid-row: 1 / 3; */
    /* Aqui le dices que este en la posicio y que extenda 2 en la direcion*/
    grid-row: 1 / span 2;

}

/* 5 */

.grid-5 {
    display: grid;
    /* Parte simplificada para definicion de filas y columnas */
    /* Rayado de grid priemro se define row y despues columns */
    grid: repeat(2 , 300px) / repeat(3, 300px);
}


/* 6 */

.grid-6 {
    display: grid;
    grid: repeat(2, 300px) / repeat(3, 300px);
    /* Se define despues del rallado del grid */
    /* grid-auto-flow: column; // funciona correctamente */
    /* Funciona y no deja espacios de forma automatica  y ordenada*/
    grid-auto-flow: dense; 
}

.grid-6 .box:nth-child(2){
    /* Posicionalo desde la parte 1 al 2*/
    grid-column: 1 / 2;
    /* Aplicando dle fird auto flow y la columna este evita 
    el salto de linea */
}

/* 7 */

.grid-7 {
    display: grid;
    /* Usar fracciones es mejor por que no usas porcentakes que tienes
    que calcular asi puedes meter las cantidades ya sea a las columnas
    o aun solo elemento */

    /* grid-template-columns: 2fr repeat(2, 1fr); */


    /* Aqui porder realizar el shoetform de gird con fracciones */
    height: 500px;
    /* Aqui se define la fraccion de altura respecto al calculo 
    de lo que se definio de altura */
    grid: repeat(2, 1fr) / repeat( 3, 1fr);


}

/* 8 */

.grid-8 {
    display: grid;
    height: 60rem;
    grid: repeat(2, 20rem) / repeat(3, 1fr);
    /* Esto es añadir separaciones columna y row */
    /* column-gap: 4rem;
    row-gap: 4rem; */

    /* Forma corta  row columns ó para todos los datos 
    solo ponemos un vamor*/
    gap: 4rem 2rem;
}

.grid-8 .box{
    margin: 0;
}

/* 9 */

.grid-9 {
    display: grid;
    /* 1200px */
    height: 120 rem;
    
    /* Dibujando areas para el template relacionadas
    con el numero de columnas que definas*/
    grid-template-areas:    "header header header"
                            "nav nav nav"
                            "contenido contenido sidebar"
                            "footer footer footer";
    /* Definiendo las posiciones de las columnas */
    grid-template-columns: repeat(3, 1fr);
    
    /* Definiendo la altura de cada contenedor por medio de row */
    /* grid-template-rows: 25rem 10rem 60rem 25rem; */
    grid-template-rows:  2.5fr 1fr 6fr 2.5fr;

    gap: 4rem;
}

.grid-9 .box{
    margin: 0;
}

.grid-9 .box:nth-child(1){
    grid-area: header;
}

.grid-9 .box:nth-child(2){
    grid-area: nav;
}

.grid-9 .box:nth-child(3){
    grid-area: contenido;
}

.grid-9 .box:nth-child(4){
    grid-area: sidebar;
}

.grid-9 .box:nth-child(5){
    grid-area: footer;
}


